{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article>
    <header class="text-center py-20">
      <h1 class="text-5xl pb-2">{{ .Title }}</h1>

      <div class="flex place-content-center">
        {{ with .Params.author }}
        <p class="pr-5">
        By <strong>
          {{ if reflect.IsSlice . }}
          {{ delimit . ", " | markdownify }}
          {{else}}
          {{ . | markdownify }}
          {{ end }}
        </strong> 
        </p>
        {{ end }}

        <time {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
          {{ .Date.Format "January 2, 2006" }}
        </time>
      </div>
    </header>

    <section class="bg-nord1 rounded-lg p-32 shadow">
      {{ .Content }}
    </section>

      <hr class="pb-2 mt-20">
      <div>
        Input or feedback to this content? <br>
        <a 
          data-umami-event="Reply by email"
          class="text-primary print:hidden border-primary px-3 py-2 transition-all border duration-150 rounded-lg hover:text-black hover:bg-primary" 
          href="mailto:{{ $.Site.Author.email }}?subject={{ replace (printf "Re: %s" .Page.Title) "\"" "'" }}">
          <span class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path><path d="M3 7l9 6l9 -6"></path>
            </svg>Reply via email!
          </span>
        </a>
        
      </div>

      {{ partial "tags.html" . }}

    <div class="">{{ partial "menu-contextual.html" . }}</div>
  </article>
{{ end }}
